<html>
    <head>
        <script src="../js/jquery-3.4.1.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
        

    </head>
    <body style="padding-left: 25px; background-color: azure">
     <br/><br/><br/><br/><br/><br/>
       <div class="d-flex justify-content-center align-items-center" >
        <p style="color: midnightblue">
            <b>Thank You, for the interest in our service.</b> <br/>
            Our sales Account Manager, Mr. John Doe would get in touch you in next 48 working hours to complete the Purchase Order details.<br/>
                Alternatively, you can reach him at (000)-000-0000 in next 48 hours.<br/><br/>
                We look forward to have wonderful time serving you.     
        </p>
        </div>
    </body>
</html>