<html>
    <head>
        <script src="../js/jquery-3.4.1.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
        

    </head>
    <body style="padding-left: 25px; background-color: azure">
       <br/><br/><br/><br/><br/><br/>
       <div class="d-flex justify-content-center align-items-center" >
        <p style="color: midnightblue">
          <b>  Thank you! for the order </b> <br/>
            We confirm the receipt your order and you will be billed $5 every month.<br/> Please download our reader by clicking any of the links below and enjoy your reading!<br/>
           <br/>
           Apple Store -    <a href="#">Download</a><br/>
           Google Play -    <a href="#">Download</a><br/>
           Desktop Reader - <a href="#">Download</a><br/>     
        </p>
        </div>
         
    </body>
</html>